/* Buttons */
@use 'variables' as var;

.button {
    font-weight: 600;
    padding: 1em 2em;
    background-color: var.$yellow;
    color: var.$dark-gray;
    text-decoration: none;
    display: inline-block; //Give it dimension

    &:hover {
        background-color: #ffd45e;
        color: var.$dark-gray;
    }

    &:active {
        margin-top: 1px;
    }
}