@use 'variables' as var;

html {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
	padding: 0;
}

body {
	margin: 0;
}

img {
	width: 100%;
}

a {
	color: var.$dark-gray;
	transition: color, 0.3s;

	&:hover {
		color: lighten(var.$dark-gray, 50%);
	}
}

