html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  padding: 0;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

a {
  color: #222;
  transition: color, 0.3s;
}
a:hover {
  color: #a2a2a2;
}

/* Typographic Rules */
html {
  font-size: 16px;
}

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.813rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small, .text_small {
  font-size: 0.8em;
}

.subheading {
  font-size: 3.052em;
  margin-top: -0.35em;
  opacity: 0.5;
  line-height: 1;
}

/* Grid */
.grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1em;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "hd hd hd hd hd hd hd hd" "sd sd . cn cn cn cn cn" "bn bn bn bn bn bn bn bn" "ft ft ft ft ft ft ft ft";
}
.grid #site-head {
  grid-area: hd;
}
.grid #content {
  grid-area: cn;
}
.grid #sidebar {
  grid-area: sd;
}
.grid #site-foot {
  margin-top: 100px;
  grid-area: ft;
}
.grid #big-nav, .grid #thumbs {
  grid-area: bn;
}
.grid #thumbs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
@media screen and (max-width: 800px) {
  .grid #thumbs {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 800px) {
  .grid {
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "hd hd hd hd" "cn cn cn cn" "bn bn bn bn" "sd sd sd sd" "ft ft ft ft";
  }
}

@media screen and (min-width: 801px) {
  .hidden-on-desktop {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .hidden-on-mobile {
    display: none;
  }
}

#site-head {
  padding: 2em 0;
  border-bottom: 1px solid #eee;
}
#site-head img {
  width: 63px;
}
#site-head nav {
  text-align: right;
}
#site-head nav a {
  text-decoration: none;
  margin-left: 1em;
  position: relative;
}
#site-head nav a.active::before, #site-head nav a:hover::before, #site-head nav a:focus::before {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 100px;
  background-color: #f7b500;
  display: inline-block;
  position: absolute;
  top: 150%;
  left: 50%;
}
#site-head #hamburger input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 60px;
  right: 16px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 3;
  /* and place it over the hamburger */
}
#site-head #hamburger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-8px, -7px);
  background: #232323;
}
#site-head #hamburger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#site-head #hamburger input:checked ~ div {
  transform: none;
}
#site-head #hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  background: #222;
  position: relative;
  z-index: 4;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#site-head #hamburger span:first-child {
  transform-origin: 0% 0%;
}
#site-head #hamburger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#site-head #menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  font-size: 2em;
}

aside {
  font-size: 0.7777em;
}
aside ul {
  list-style-type: none;
  padding: 0;
  margin-top: 3.333em;
}
aside ul li {
  display: flex;
  margin-bottom: 0.77em;
}
aside ul li span {
  flex: 1;
  opacity: 0.5;
}
aside ul li a {
  flex: 2;
}

/* Sections */
#site-head, #site-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-foot {
  grid-area: footer;
  padding: 2.2em 0;
  font-size: 0.625em;
  opacity: 0.5;
}
#site-foot a {
  margin-left: 1em;
}

/* 
	Nick Aguilos Portfolio V5
*/
#blog .article-title {
  font-size: 1.5rem;
}
#blog .article-title a {
  text-decoration: none;
}
#blog aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 35vw;
  z-index: -1;
  background-color: #fefefb;
}
#blog aside .hero-img {
  object-fit: cover;
  height: 100%;
}
@media (max-width: 800px) {
  #blog aside {
    position: static;
    max-width: 100%;
  }
}

#portfolio.main {
  background-image: url("/images/heroes/homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  color: #fff;
}
#portfolio.main #big-nav {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
}
@media screen and (max-width: 800px) {
  #portfolio.main #big-nav {
    grid-template-columns: 1fr;
    text-align: left;
  }
}
#portfolio.main #big-nav > div {
  grid-column: span 2;
}
#portfolio.main #big-nav > div:hover > div {
  display: block;
}
@media screen and (max-width: 800px) {
  #portfolio.main #big-nav > div:hover > div {
    display: none;
  }
}
#portfolio.main #big-nav > div > div {
  background: black;
  height: 100vh;
  position: absolute;
  width: 19vw;
  top: 0;
  z-index: -1;
  display: none;
  overflow: hidden;
}
#portfolio.main #big-nav video {
  height: 100vh;
}
#portfolio.main #big-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 2em 1em;
  display: inline-block;
}
@media screen and (max-width: 800px) {
  #portfolio.main #big-nav a {
    padding: 0.5em 0;
  }
}
#portfolio.main #site-foot a {
  color: #fff;
}
#portfolio.thumbs-page {
  background: linear-gradient(to bottom, #fff 30%, #fafafa 30%);
}
#portfolio.thumbs-page #thumbs {
  margin-top: 2em;
}
#portfolio.thumbs-page #thumbs .thumb-wrapper {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: #222;
}